h1 a, h2 a {
    color: #333399;
    font-family: 'Lobster';
}

p {
    colour: #666699;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
    

<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">

#bg{
    background-repeat: no-repeat;
    background-position: top;
    background-size: 960px 242px;
    background-attachment: fixed;
    /* background:url('https://as1.ftcdn.net/v2/jpg/03/03/36/10/1000_F_303361005_B3EgdOHbgeoEieg7M3GnFpyYBhO274l9.jpg');
    width:100%;
    min-height:189px; */
}

body {
    padding-left: 15px;
}